.navigation{
  background-color: $light-gray;
  position: relative;
  width: 100%;
  @include media-breakpoint-only(xs) {
	height: calc(var(--vh, 1vh) * 30);
	max-height: calc(var(--vh, 1vh) * 30);
	position: fixed;
	bottom:0;
	.buttons-displacement{
	  width: 100%;
	  position: absolute;
	  margin-top: -30px;
	}
	&.short{
	  height: calc(var(--vh, 1vh) * 30);
	}
  }
  @include media-breakpoint-up(sm) {
	height: 100vh;
	.buttons-center{
	  position: absolute;
	  top: 50%;
	  @include translate(0, -50%);
	}
  }
}

.content{
  @include media-breakpoint-only(xs) {
	height: calc(var(--vh, 1vh) * 70);
  }
  @include media-breakpoint-up(sm) {
	height: 100vh;
  }
}

