.text-overflow-center {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}

.row{
  &.small-gutters{
	[class*="col-"] {
	  padding-right: $grid-gutter-width / 3;
	  padding-left: $grid-gutter-width / 3;
	}
  }
}

.text-link{
	color: inherit;
	transition: color .3s ease-in-out;
	@include hover-focus-active{
		color: $primary;
		transition: color .3s ease-in-out;
	}
}

@include media-breakpoint-only(xs) {
	.text-link{ color: $primary }
}
